.test5 {
  left: -280px;
  top: -140px;
  width: 960px;
  position: relative;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
  color: rgb(19, 19, 19);
}
.biao11 {
  left: -650px;
  width: 380px;
  top: -240px;
  position: relative;
}
.biao12 {
  left: -250px;
  width: 380px;
  top: -746px;
  position: relative;
}
.biao13 {
  left: 155px;
  width: 380px;
  top: -1250px;
  position: relative;
}
.test6 {
  left: -520px;
  top: -1220px;
  width: 960px;
  position: relative;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
  color: rgb(19, 19, 19);
}
.biao14 {
  left: -500px;
  width: 880px;
  top: -1180px;
  position: relative;
}
.test7 {
  left: -280px;
  top: -580px;
  width: 960px;
  position: relative;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
  color: rgb(19, 19, 19);
}
