* {
  margin: 0;
  box-sizing: border-box;
}
.block-content {
  /*display: none*/
  height: 0vh;
  width: auto;
  margin-left: 820px;
  margin-top: -60px;
  position: relative;
  background-color: rgb(54, 99, 162);
}
.card {
  left: 0px;
  top: 80px;
  position: relative;
  border: 14px solid rgb(255, 255, 255, 0.3);
  background-color: #495b72;
  margin: 50vh 25vh;
}

.block-content p {
  margin: 25px 50px 25px 25px;
}

.content {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 2;
  z-index: 99;
}

.card {
  background-color: #285085;
  margin: 15vh 10vh;
  /*display: none*/
}

.tutu1-content {
  margin: 20px;
  left: -720px;
  top: -600px;
  width: 750px;
  height: 550px;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.5);
}

/* 响应式卡片 */
.container {
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}
.container .card {
  position: relative;
  width: 450px;
  height: 550px;
  background: #495b72;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container:hover .card {
  filter: blur(5px);
  transform: scale(0.7);
}
.container .card:hover {
  filter: blur(0px);
  transform: scale(1);
}
.container .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #495b72;
  z-index: 1;
  transition: 0.5s;
}
.container .card:hover:before {
  background: #ffffff;
  transform: scaleY(1);
  box-shadow: 0 15px 15px rgba(255, 255, 255, 0.2);
}
.container .card .content {
  text-align: left;
  letter-spacing: 2px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 2;
  padding: 10px 10px;
  transition: 0.5s;
}
.container .card:hover .content {
  color: rgb(33, 31, 31);
}
.container .card .content h2 {
  font-size: 4px;
}
.container .card .content p {
  font-size: 0.9em;
}
.container .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 500px 100px;
  background: #f3f4f6;
  color: rgb(236, 225, 225);
  text-decoration: none;
}
.container .card:hover .content a {
  background: #2196f3;
}
